.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0 0 1rem;
	line-height: 1.15;
	font-size: 3.6rem;
}

.title {
	text-align: center;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.table {
	width: 100%;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	margin-top: 3rem;
}

.card {
	margin: 1rem;
	flex-basis: 45%;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h3 {
	margin: 0 0 0.5rem 0;
	font-size: 1.5rem;
}

.card p {
	/* margin: 0; */
	font-size: 0.9rem;
	margin: 0 0 0.5rem 0;
	line-height: 1.5;
}

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.card .priceQContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card .buttonContainer {
	display: flex;
	gap: 10px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card .price {
	margin: 0;
	font-weight: 800;
	font-size: 1rem;
	margin: 0 0 0.5rem 0;
	line-height: 1.5;
}
.card .quantity {
	margin: 0;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5;
}

.card .priceContainer {
	display: flex;
	margin: 0 0 0.5rem 0;
	flex-direction: row;
	gap: 10px;
	font-size: 1rem;
	font-weight: 600;
}

.logo {
	height: 1em;
}

.link {
	display: flex;
	cursor: default;
	justify-content: flex-end;
	align-self: flex-end;
}

.submitButton {
	color: #fff;
	cursor: pointer;
	background-color: #242424;
	border-radius: 50px;
	padding: 15px 16px;
}

.editButton {
	width: 100px;
	color: #fff;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #242424;
	border-radius: 50px;
	padding: 15px 16px;
}

.deleteButton {
	width: 100px;
	color: #fff;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #242424;
	border-radius: 50px;
	padding: 15px 16px;
}

.pagination {
	width: 100%;
	justify-content: center;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pagination .li {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #242424;
	margin-right: 4px;
}

.pagination .liActive {
	cursor: pointer;
	padding: 10px;
	background-color: #242424;
	color: #fff;
	margin-right: 4px;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}

	.card .buttonContainer {
		flex-direction: column;
	}
}
