.container {
	max-width: 36rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.headerTitle {
	cursor: pointer;
	font-size: 24px;
	font-weight: 800;
	color: black;
}

.linkButton {
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
}

.account {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

.backToHome {
	margin: 3rem 0 0;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.card {
	display: flex;
	margin: 1rem;
	flex-basis: 45%;
	padding: 1.5rem;
	text-align: left;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: inherit;
	gap: 20px;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.link {
    width: 100%;
}


.imput {
    width: 100%;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 15px 16px;
	font-size: 18px;
	color: #242424;
}

.imput::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #b3b3b3;
}

.imput::-moz-placeholder {
	/* Firefox 19+ */
	color: #b3b3b3;
}

.imput::placeholder {
	color: #b3b3b3;
}

.submitButton {
    width: 100%;
    color: #fff;
    background-color: #242424;
    border-radius: 50px;
	padding: 15px 16px;
}
.description {
    font-size: 14px;
    font-weight: 400;
    color: #242424;
}

.inputContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.errorText {
	font-size: 12px;
	color: red;
}
.successText {
	font-size: 12px;
	color: green;
}

